# Adults with Diabetes in CA, per 100 people 
https://data.ca.gov/dataset/adults-with-diabetes-per-100-lghc-indicator/resource/aa9555ee-5e60-4b42-a58d-2dec14f4ce8f

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import math

In [3]:
diabetes_df = pd.read_csv('../data/Raw/adult_diabetes.csv')

In [4]:
diabetes_df

,Geography,Year,Strata,Strata Name,Percent,Lower 95% CL,Upper 95% CL,Standard Error
0,California,2018,Total population,Total population,10.4,8.9,11.9,0.8
1,California,2018,Race-Ethnicity,White,8.4,6.9,9.9,0.8
2,California,2018,Race-Ethnicity,African-American,12.3,6.0,18.6,3.2
3,California,2018,Race-Ethnicity,Asian,8.5,3.2,13.9,2.7
4,California,2018,Race-Ethnicity,Hispanic,12.1,9.0,15.1,1.6
...,...,...,...,...,...,...,...,...
142,California,2012,Income,"$25,000 to $34,999",11.9,9.8,14.1,1.1
143,California,2012,Income,"$35,000 to $49,999",9.5,7.9,11.0,0.8
144,California,2012,Income,"$50,000 and above",6.3,5.6,7.0,0.4
145,California,2012,Sex,Male,9.7,8.9,10.5,0.4
146,California,2012,Sex,Female,8.7,8.0,9.4,0.4

In [5]:
diabetes_df.columns

Index(['Geography', 'Year', 'Strata', 'Strata Name', 'Percent', 'Lower 95% CL',
       'Upper 95% CL', 'Standard Error'],
      dtype='object')

* The "Percent" shows us the percentage of adults with diabetes per 100 people in each Strata

In [6]:
# Renaming columns:

col_dict = {
    'Year' : 'year',
    'Strata' : 'category',
    'Strata Name' : 'category_name',
    'Percent' : 'percent',
    'Lower 95% CL' : 'lower_cl',
    'Upper 95% CL' : 'upper_cl'
}

diabetes_df = diabetes_df.rename(columns=col_dict)

In [7]:
diabetes_df

,Geography,year,category,category_name,percent,lower_cl,upper_cl,Standard Error
0,California,2018,Total population,Total population,10.4,8.9,11.9,0.8
1,California,2018,Race-Ethnicity,White,8.4,6.9,9.9,0.8
2,California,2018,Race-Ethnicity,African-American,12.3,6.0,18.6,3.2
3,California,2018,Race-Ethnicity,Asian,8.5,3.2,13.9,2.7
4,California,2018,Race-Ethnicity,Hispanic,12.1,9.0,15.1,1.6
...,...,...,...,...,...,...,...,...
142,California,2012,Income,"$25,000 to $34,999",11.9,9.8,14.1,1.1
143,California,2012,Income,"$35,000 to $49,999",9.5,7.9,11.0,0.8
144,California,2012,Income,"$50,000 and above",6.3,5.6,7.0,0.4
145,California,2012,Sex,Male,9.7,8.9,10.5,0.4
146,California,2012,Sex,Female,8.7,8.0,9.4,0.4

In [8]:
diabetes_df.sample(15)

,Geography,year,category,category_name,percent,lower_cl,upper_cl,Standard Error
49,California,2016,Age,45 to 54 years,10.9,9.6,12.1,0.2
33,California,2017,Education,Some college,8.8,6.8,10.7,1.0
92,California,2014,Age,55 to 64 years,18.2,15.4,21.0,1.4
56,California,2016,Income,"Less than $15,000",15.6,13.9,17.2,0.2
94,California,2014,Education,Less than high school,16.8,13.7,19.9,1.6
3,California,2018,Race-Ethnicity,Asian,8.5,3.2,13.9,2.7
54,California,2016,Education,Some college,10.2,9.1,11.3,0.3
103,California,2014,Sex,Male,10.2,8.9,11.6,0.7
62,California,2016,Sex,Female,9.9,9.0,10.7,0.3
18,California,2018,Income,"$50,000 and above",9.4,7.1,11.7,1.2
137,California,2012,Education,High school graduate,9.1,7.9,10.3,0.6
47,California,2016,Age,18 to 34 years,1.5,1.0,2.0,0.1
101,California,2014,Income,"$35,000 to $49,999",8.9,6.4,11.4,1.3
48,California,2016,Age,35 to 44 years,4.3,3.4,5.2,0.1
100,California,2014,Income,"$25,000 to $34,999",12.8,8.0,17.6,2.5

In [9]:
# Saving cleaned data to my folder:

diabetes_df.to_csv('../data/Cleaned/diabetes_CLEANED.csv', index=False)